.list-group-item {
  border: none;
  border-bottom: 1px solid #57606f;
  margin-bottom: 0;
}
.list-group-item:last-of-type {
  border-bottom: none;
}
.list-group-item p {
  color: #a4b0be;
}
.list-group-item a {
  color: #ced6e0;
  transition: 0.2s ease-in-out;
}
.list-group-item a:hover h3 {
  color: #fff;
}
